<style>
	.CLASS_settings .fields { border: 1px solid #E0E0E0; border-radius: var(--radius); }
	.CLASS_settings .ui-listform-item .item { padding: 7px 10px; }
	.CLASS_settings .ui-listform-form { border-radius: 0; border: 0; border-bottom: 1px solid #e0e0e0; }
	.CLASS_settings .ui-listform-form-container { padding: 0; }
	.CLASS_settings .listing .item { line-height: 34px; font-size: 12px; background-color: #F8F8F8; border-radius: var(--radius); margin-bottom: 2px; padding: 0 10px; cursor: pointer; }
	.CLASS_settings .listing .item:hover { background-color: #E8E8E8; }

	.CLASS_buttons { list-style: none; padding: 0; margin: 0px; }
	.CLASS_btn { display: inline-block; margin-right: 8px; padding: 8px 16px; font-size: 14px; border-width: 1px; border-style: solid; border-color: #e0e0e0; border-bottom-color: #e0e0e0; background-color: #f8f8f8; border-radius: var(--radius) var(--radius) 0 0; cursor: pointer; }
	.CLASS_btn.selected { border-bottom-color: #fff; font-weight: bold; background-color: #fff; }
	.CLASS_containers { width: 100%; border: 1px solid #e0e0e0; margin-top: -1px; border-radius: 0 var(--radius) var(--radius) var(--radius); background-color: #fff; }
	.CLASS_content { padding: 5px; }
	.CLASS_content.CLASS_gap { padding: var(--gap); }
	.CLASS_content > div { min-height: 100px; }
</style>

<body>
	<div class="CLASS_tabs">
		<ul class="CLASS_buttons">
			{{ foreach m in value }}
				<li class="CLASS_btn" data-id="{{ m.id }}" data-index="{{ $index }}">{{ if m.icon }}<i class="{{ m.icon }} mr5"></i>{{ fi }}{{ m.name }}</li>
			{{ end }}
		</ul>
		<div class="CLASS_containers">
			{{ foreach m in value }}
				<div class="CLASS_content hidden {{ if m.padding }}CLASS_gap{{ fi }}" data-id="{{ m.id }}">
					<div class="UI_components" data-index="{{ $index }}"></div>
				</div>
			{{ end }}
		</div>
	</div>
</body>

<script>

	exports.id = 'tabs';
	exports.name = 'Tabs';
	exports.group = 'Content';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-layer-group';
	exports.config = { items: [{ id: GUID(6), name: 'Tab 1', padding: true }, { id: GUID(6), name: 'Tab 2', padding: true } ]};
	exports.settings = '/components/tabs/settings.html';
	exports.render = '/components/tabs/render.html';
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {

		var cls2 = '.' + cls;

		var render = function() {
			var template = instance.maketemplate(instance.component.html);
			var output = template({ value: config.items });
			element.html(output);

			element.find(cls2 + '_btn:first-child').aclass('selected');
			element.find(cls2 + '_content:first-child').rclass('hidden');
		}

		element.on('click', '' + cls2 + '_btn', function() {
			var btn = $(this);
			var btn_id = btn.attrd('id');

			element.find(cls2 + '_btn').rclass('selected');
			btn.aclass('selected');

			element.find(cls2 + '_content').aclass('hidden');
			element.find(cls2 + '_content[data-id="{0}"]'.format(btn_id)).rclass('hidden');
		});

		instance.on('configure', function() {

			var containers = element.find('{0}_content'.format(cls2));
			var cache = {};

			for (var item of config.items) {
				if (!item.id)
					item.id = GUID(6);
			}

			for (var root of containers) {
				var id = ATTRD(root);
				cache[id] = document.createElement('DIV');
				var content = $(root).find('> .UI_components'.format(cls2))[0];
				while (content.children.length) {
					var child = content.children[0];
					cache[id].appendChild(child);
				}
			}

			render();

			containers = element.find('{0}_content'.format(cls2));

			for (var root of containers) {
				var id = ATTRD(root);
				var content = $(root).find('> .UI_components'.format(cls2))[0];
				var tmp = cache[id];
				if (tmp) {
					while (tmp.children.length)
						content.appendChild(tmp.children[0]);
				}
			}

		});

		render();

	};

</script>

<readme>
The component is a content panel to show multiple contents in specific space one at a time.
</readme>
