<style>
	.CLASS_buttons { list-style: none; padding: 0; margin: 0px; }
	.CLASS_btn { display: inline-block; margin-right: 8px; padding: 8px 16px; font-size: 14px; border-width: 1px; border-style: solid; border-color: #e0e0e0; border-bottom-color: #e0e0e0; background-color: #f8f8f8; border-radius: var(--radius) var(--radius) 0 0; cursor: pointer; }
	.CLASS_btn.selected { border-bottom-color: #fff; background-color: #fff; font-weight: bold; }
	.CLASS_containers { width: 100%; border: 1px solid #e0e0e0; margin-top: -1px; border-radius: 0 var(--radius) var(--radius) var(--radius); }
	.CLASS_content { padding: var(--gap); background-color: #fff; }
</style>

<body>
	<div class="CLASS_tabs">
		<ul class="CLASS_buttons">
			{{ foreach m in value }}
				<li class="CLASS_btn" data-id="{{ m.id }}" data-index="{{ $index }}">{{ if m.icon }}<i class="{{ m.icon }} mr5"></i>{{ fi }}{{ m.name }}</li>
			{{ end }}
		</ul>
		<div class="CLASS_containers">
			{{ foreach m in value }}
				<div class="CLASS_content hidden" data-id="{{ m.id }}"><div class="UI_components" data-index="{{ $index }}"></div></div>
			{{ end }}
		</div>
	</div>
</body>

<script>

	exports.id = 'tabs';
	exports.name = 'Tabs';
	exports.group = 'Content';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-layer-group';
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {
		var cls2 = '.' + cls;

		var render = function() {
			var template = instance.maketemplate(instance.component.html);
			var output = template({ value: config.items });
			element.html(output);

			element.find(cls2 + '_btn:first-child').aclass('selected');
			element.find(cls2 + '_content:first-child').rclass('hidden');
		};

		element.on('click', '' + cls2 + '_btn', function() {
			var btn = $(this);
			var btn_id = btn.attrd('id');

			element.find(cls2 + '_btn').rclass('selected');
			btn.aclass('selected');

			element.find(cls2 + '_content').aclass('hidden');
			element.find(cls2 + '_content[data-id="{0}"]'.format(btn_id)).rclass('hidden');
		});

		render();

	};
</script>
