<style>
	.CLASS { text-shadow: 1px 1px 3px rgba(0,0,0,0.1); }
	.CLASS i { display: block; font-size: 40px; }
	.CLASS .text { margin-top: 10px; }
</style>

<script>

	exports.id = 'fbmarker';
	exports.group = 'Flowboard';
	exports.name = 'Marker';
	exports.icon = 'ti ti-pin-alt';
	exports.author = 'Total.js';
	exports.config = { html: '{{ value }}', color: '#777', size: '14', icon: 'ti ti-thermometer' };
	exports.render = '/components/fbmarker/render.html';
	exports.settings = '/components/fbmarker/settings.html';
	exports.floating = true;
	exports.version = '1';
	exports.type = ['flowboard'];

	exports.make = function(instance, config, element) {

		var render = function() {
			element.html('<div style="color:{color}"><i class="{icon}"></i><div style="font-size:{size}px" class="text">{html}</div></div>'.args(config));
		};

		render();

		element.on('dblclick', '.ti', function(e) {

			e.preventDefault();
			e.stopPropagation();

			if (e.ctrlKey || e.metaKey) {
				UIBuilder.emit('attr', this, function() {
					config.html = element.find('.text').html();
				});
				return;
			}

			UIBuilder.emit('icon', this, function(el, val) {
				if (!val)
					el.remove();
				config.html = element.find('.text').html();
			});

		});

		element.on('dblclick', '.text', function(e) {

			e.stopPropagation();
			e.preventDefault();

			var el = $(this);
			var opt = {};

			opt.multiline = true;
			opt.icon = true;
			opt.links = false;

			instance.edit(el, opt, function(response) {
				config.html = response.html;
			});

		});

		instance.on('configure', function() {
			render();
		});

	};

</script>

<readme>
	
</readme>