<script>

	exports.id = 'link';

	exports.make = function(instance, config, element) {

		if (!config.url)
			return;

		var app = null;
		var container;

		element.append('<div></div>');
		container = element.find('> div');

		instance.on('value', function(value) {
			config.input && value && app && app.input(config.input, value);
		});

		config.url && instance.on('ready', function() {
			AJAX('GET ' + config.url, function(response) {
				if (response.id) {
					response.id = 'app' + GUID(5);
					instance.app.build(container, response, function(response) {
						app = response;
						config.input && instance.state.value && app.input(config.input, instance.state.value);
						if (config.resetcss)
							app.element[0].style = 'padding:0!important;margin:0!important';
					});
				}
			});
		});

	};

</script>