<style>
	.CLASS { display: grid; grid-gap: var(--gap); }
	.CLASS_bg > .UI_components { background-color: #F8F8F8; padding: var(--gap); }
	.CLASS_rounded > .UI_components { border-radius: var(--radius); }
</style>

<script>

	exports.id = 'columns';
	exports.make = function(instance, config, element, cls) {

		if (config.hidden)
			element.aclass('hidden');

		if (config.fractions)
			element.css('grid-template-columns', config.fractions);

		element.aclass('grid-' + config.count + (config.countmd ? (' grid-md-' + config.countmd) : '') + (config.countsm ? (' grid-sm-' + config.countsm) : '') + (config.countxs ? (' grid-xs-' + config.countxs) : '') + (config.background ? (' ' + cls + '_bg') : '') + (config.rounded ? (' ' + cls + '_rounded') : ''));

		var builder = [];

		for (var i = 0; i < config.count; i++)
			builder.push('<div class="UI_components" data-index="{0}"></div>'.format(i));

		element.html(builder.join(''));
	};

</script>