<style>
	.CLASS label { font-size: 12px; margin-bottom: 3px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }
</style>

<body>
	{{ if !config.hidelabel }}<label class="UI_label">{{ if config.icon }}<i class="{{ config.icon }}"></i>{{ fi }}<span class="editable">{{ config.name }}:</span></label>{{ fi }}
	
	<div class="CLASS_listbox listing{{ if config.background }}2{{ fi }}">
		{{ foreach m in value }}
		<figure data-id="{{ if m.id }}{{ m.id }}{{ else }}{{ m.name }}{{ fi }}">
			<section>
				<div>{{ m.name }}</div>
				{{ if m.description }}
					<div class="help nmt">{{ m.description }}</div>
				{{ fi }}
			</section>
		</figure>
		{{ end }}
	</div>
</body>

<script>

	exports.id = 'listbox';
	exports.outputs = [{ id: 'click', name: 'Click' }];

	exports.make = function(instance, config, element, cls) {
		instance.state.bind = true;

		var cls2 = '.' + cls;
		var selectedid = null;

		var render = function(items) {
			var template = instance.maketemplate();
			element.html(template({ value: items , config: config}));
		};

		element.on('click', 'figure', function() {
			selectedid = ATTRD(this);
			instance.output('click');
		});

		instance.output('click', function(next) {
			selectedid && next(null, selectedid);
		});

		instance.on('ready', function() {

			if (config.items && config.items.length) {
				render(config.items);
				instance.check();
			} else {
				instance.datasource(config.datasource, function(response) {
					render(response);
					instance.check();
				});
			}
		});

	};
</script>