<script>

	exports.id = 'captureoutput';
	exports.name = 'Capture output';
	exports.group = 'Data';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-share-alt';
	exports.config = { input: '', write: '', read: '' };
	exports.render = '/components/captureoutput/render.html';
	exports.settings = '/components/captureoutput/settings.html';
	exports.version = '1';
	exports.gap = true;
	exports.follow = true;

	exports.make = function(instance, config, element) {
		element.aclass('UI_special').html('<i class="{icon}"></i><label>{0}</label>'.format(config.name.encode()).args(instance.component));
		instance.on('configure', function() {
			element.find('label').text(config.name);
		});
	};

</script>

<readme>
	This component can capture data from an output.
</readme>