<style>
	.CLASS .UI_components { min-height: 40px; }
	.CLASS > .button { border: 0; background: #E0E0E0; color: #777; padding: 10px 5px; width: 100%; font-size: 15px; font-weight: bold; border-radius: var(--radius); }
</style>

<readme>
The form collects only components with defined paths.
</readme>

<script>

	exports.id = 'part';
	exports.name = 'Part';
	exports.group = 'Parts';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-object-group';
	exports.config = { border: false, checkvisible: true };
	exports.render = '/components/part/render.html';
	exports.settings = '/components/part/settings.html';
	exports.type = ['app', 'dashboard', 'mobile', 'uicomponent'];
	exports.version = '1';

	exports.make = function(instance, config, element) {
		element.aclass('UI_special').html('<i class="{0}"></i><label></label><div></div>'.format(instance.component.icon));
		instance.on('configure', function() {
			element.find('label').text(config.name);
			var name = DEF.cl.apps.findValue('id', config.url, 'name', '');
			element.find('div').text(name || config.url);
		});
		instance.emit('configure');
	};

</script>