<script>

	exports.id = 'part';
	exports.name = 'Part';
	exports.group = 'Parts';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-object-group';
	exports.version = '1';

	exports.make = function(instance, config, element) {

		if (!config.url)
			return;

		instance.state.bind = true;
		instance.state.validate = false;

		var app = null;
		var container;
		var skip = false;
		var noskip = false;

		element.aclass('hidden');
		element.append('<div></div>');
		container = element.find('> div');

		instance.validate = function() {
			return !instance.state.invalid;
		};

		instance.on('value', function(value, kind) {

			if (kind !== 'noemitstate') {
				if (skip) {
					skip = false;
					return;
				}
			} else
				skip = false;

			instance.wait(() => app, () => app.input('root_load', value || {}));
		});

		instance.on('reset', function() {
			instance.wait(() => app, () => app.input('root_reset'));
		});

		instance.default = function() {
			return {};
		};

		instance.on('ready', function() {
			AJAX('GET ' + config.url, function(response) {
				if (response.id) {
					response.id = 'part' + GUID(5);
					instance.app.build(container, response, function(response) {
						app = response;
						config.input && instance.state.value && app.input(config.input, instance.state.value);
						app.element[0].style = 'padding:0!important;margin:0!important';
						element.rclass('hidden');
						app.on('output', function(meta) {
							if (meta.instanceid === 'root') {
								var data = meta.data;
								instance.set('value', data.value);
								instance.set('modified', data.modified);
								instance.set('invalid', data.invalid);
								skip = true;
							}
						});
					});
				}
			});
		});

	};
</script>