<style>
	.CLASS_input { height: 38px; padding: 0 0 0 8px; border: 1px solid #D0D0D0; border-radius: var(--radius); background: #FFF; line-height: 36px; color: gray; font-size: 12px; }
	.CLASS_input .CLASS_icon { float: right; width: 34px; border-left: 1px solid #D0D0D0; text-align: center; }
	.CLASS_error { color: red; font-weight: bold; margin-top: 8px; font-size: 11px; line-height: 13px; }
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px;}
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
</style>

<script>

	exports.id = 'textbox';
	exports.name = 'Textbox';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-font';
	exports.config = { required: false, type: 'string', monospace: false };
	exports.settings = 'auto';
	exports.render = 'auto';
	exports.version = '1';
	exports.follow = true;
	exports.gap = true;

	exports.make = function(instance, config, element, cls) {

		var template = instance.maketemplate('<div class="{0}_input {{ if type === \'number\' || type === \'date\' || type === \'datetime\' }}center{{ fi }}">{{ if type === \'number\' }}<div class="{0}_icon"><i class="ti ti-sort"></i></div>{{ else if type === \'date\' || type === \'datetime\' }}<div class="{0}_icon"><i class="ti ti-calendar"></i></div>{{ else if type === \'password\' }}<div class="{0}_icon"><i class="ti ti-eye"></i></div>{{ fi }}<span>{{ placeholder }}</span></div>{{ if help }}<div class="help">{{ help }}</div>{{ fi }}'.format(cls));

		instance.on('configure', function() {
			var label = instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span>{{ name }}:</span></label>')(config);
			element.html(label + template(config));
			element.tclass('UI_required', config.required == true);
		});

		instance.emit('configure');

	};

</script>

<readme>
A Textbox is an input element that allows to get input from the user. It allows the user either to edit or display the input values.

__Types__:

- `string`
- `number`
- `date`
- `datetime`
- `email`
- `ZIP`
- `phone number`
- `password`
</readme>