<style>
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }
	.CLASS_error { display: none; color: red; font-weight: bold; margin-top: 8px; font-size: 11px; line-height: 13px; }
	.CLASS.issafari .CLASS_placeholder { line-height: 37px; }
	.CLASS_input { position: relative; height: 38px; border: 1px solid #D0D0D0; border-radius: var(--radius); background: #FFF; cursor: pointer; }
	.CLASS_input input { border: 0; background: transparent; height: 36px; line-height: 36px; width: 100%; outline: 0; padding: 0 8px; font-size: 13px; }
	.CLASS_input .CLASS_ricon { float: right; border-left: 1px solid #E0E0E0; height: 36px; width: 34px; text-align: center; line-height: 36px; padding: 12px 0 0; }
	.CLASS_input .CLASS_ricon i { display: block; cursor: pointer; }
	.CLASS_number .CLASS_ricon { padding: 7px 0 0; }
	.CLASS_number .CLASS_ricon i { font-size: 12px; }
	.CLASS_number .CLASS_placeholder { text-align: center; padding-right: 40px; }
	.CLASS_wrapper { margin-right: 40px; }

	.CLASS_placeholder { position: absolute; font-size: 13px; pointer-events: none; line-height: 36px; color: gray; margin: 0; width: 100%; /* text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; */ padding: 0 8px; height: 36px; }

	.CLASS.UI_touched.UI_invalid .CLASS_input { border-color: red; }
	.CLASS.UI_touched.UI_invalid .CLASS_error { display: block; }
	.CLASS.UI_touched.UI_invalid .CLASS_help { display: none; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }

</style>

<script>

	exports.id = 'textbox';

	exports.make = function(instance, config, element, cls) {

		instance.state.bind = true;

		config.timeout = (config.type === 'date' || config.type === 'datetime') ? 1500 : config.type === 'string' ? 10 : 500;

		var html = '';
		var label = '';
		var placeholder = '';
		var placeholder_tmpl = '<div class="{0}_placeholder">{1}</div>'.format(cls, config.placeholder);
		var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
		var help = config.help ? '<div class="{0}_help help">{1}</div>'.format(cls, config.help) : '';
		var error = config.error ? '<div class="{0}_error">{1}</div>'.format(cls, config.error) : '';
		var label = '<label>{0}<span>{1}:</span></label>'.format(icon, config.name);

		switch(config.type) {
			case 'number':
				html = instance.maketemplate('<div class="{0}_input {0}_number">{1}<div class="{0}_ricon"><i class="ti ti-caret-up"></i><i class="ti ti-caret-down"></i></div><div class="{0}_wrapper"><input type="text" {{ if min }}min="{{ min }}"{{ fi }} {{ if max }}max="{{ max }}"{{ fi }} class="center {{ if monospace }}monospace{{ fi }} {{ if bold }}b{{ fi }}"/></div></div>'.format(cls, placeholder_tmpl));
				break;
			case 'date':
			case 'datetime':
				html = instance.maketemplate('<div class="{0}_input">{1}<div class="{0}_ricon"><i class="ti ti-calendar"></i></div><div class="{0}_wrapper"><input type="text" class="{{ if monospace }}monospace{{ fi }} {{ if bold }}b{{ fi }}"/></div></div>'.format(cls, placeholder_tmpl));
				break;
			case 'password':
				html = instance.maketemplate('<div class="{0}_input {0}_password">{1}<div class="{0}_ricon"><i class="ti ti-eye"></i></div><div class="{0}_wrapper"><input type="password" class="{{ if monospace }}monospace{{ fi }} {{ if bold }}b{{ fi }}"/></div></div>'.format(cls, placeholder_tmpl));
				break;
			default:
				html = instance.maketemplate('<div class="{0}_input">{1}<input type="text" {{ if maxlength }}maxlength="{{ maxlength }}"{{ fi }} class="{{ if monospace }}monospace{{ fi }} {{ if bold }}b{{ fi }}"/></div>'.format(cls, placeholder_tmpl));
				break;
		}

		element.html(label + html(config) + help + error);
		element.tclass('UI_required', config.required == true);

		var controls = element.find('input');
		var placeholder = element.find('.' + cls + '_placeholder');
		var isplaceholder = false;

		var checkplaceholder = function() {
			var hide = !!controls[0].value;
			if (hide !== isplaceholder) {
				isplaceholder = hide;
				placeholder.tclass('hidden', hide);
			}
		};

		var formatter = function(val) {
			switch (config.type) {
				case 'number':
					return typeof(val) === 'number' ? val.format(config.decimals) : '';
				case 'date':
					return val instanceof Date ? val.format('[date]') : '';
				case 'datetime':
					return val instanceof Date ? val.format('[ts]') : '';
			}
			return val;
		};

		var onchangetimeout = null;
		var onchange = function(force) {

			onchangetimeout = null;
			var val = controls.val();
			var format = false;

			switch (config.type) {
				case 'number':
					if (val)
						val = val.replace(/[^0-9,.]+/, '');
					val = val ? val.parseFloat() : null;
					format = true;
					break;
				case 'datetime':
				case 'date':
					if (val) {
						val = val.replace(/[^0-9.\-\/]+/, '');
						if (val) {
							val = val.parseDate();
							if (isNaN(val.getTime()))
								val = null;
						} else
							val = null;
					} else
						val = null;
					SETTER('!datepicker/hide');
					format = true;
					break;
				case 'phone':
				case 'email':
				case 'zip':
				case 'password':
				case 'string':
					format = true;
					break;
			}

			instance.set('value', val, 'nobind');
			instance.set('modified', true);

			if (format) {
				controls.val(formatter(val));
				onchangetimeout && clearTimeout(onchangetimeout);
				onchangetimeout = null;
			}

			if (format || force) {
				instance.check(true);
				instance.set('touched', true);
			}
		};

		controls.on('input', function(e) {
			onchangetimeout && clearTimeout(onchangetimeout);
			onchangetimeout = setTimeout(onchange, config.timeout);
			checkplaceholder();
		});

		controls.on('blur', function(e) {
			if (onchangetimeout) {
				clearTimeout(onchangetimeout);
				onchangetimeout = null;
				onchange(true);
			}
			instance.set('touched', true);
		});

		var isdate = function() {
			var datepicker = function() {
				var opt = {};
				opt.element = element;
				opt.value = new Date();
				opt.callback = function(val) {
					instance.set('value', val);
				};
				SETTER('datepicker/show', opt);
			};

			element.find('.' + cls + '_ricon').on('click', datepicker);
		};

		var isnumber = function() {
			var count = function(direction) {
				var val = instance.state.value;
				controls.val(direction ? val++ : val--);
				instance.set('touched', true);
				instance.set('value', val);
			};

			element.find('.ti-caret-up').on('click', function() {
				count(true);
			});

			element.find('.ti-caret-down').on('click', function() {
				count(false);
			});
		};

		var ispassword = function() {
			var icon = element.find('i');
			element.find('.' + cls + '_ricon').on('click', function() {
				var show = controls.prop('type') === 'password' ? true : false;
				controls.prop('type', show ? 'text' : 'password');
				icon.tclass('ti-eye-slash', show === true);
				icon.tclass('ti-eye', show === false);
			});
		};

		switch (config.type) {
			case 'date':
			case 'datetime':
				isdate();
				break;
			case 'number':
				isnumber();
				break;
			case 'password':
				ispassword();
				break;
		}

		instance.validate = function() {
			var value = instance.state.value;

			switch (config.type) {
				case 'number':
					if ((config.required && value == null) || (config.min != null && value && value < config.min) || (config.max != null && value && value > config.max))
						return false;
					return true;
				case 'date':
				case 'datetime':
					if ((config.required && !value) || (value && isNaN(value.getTime())))
						return false;
					return true;
				case 'phone':
					if ((config.required && !value) || (value && !value.isPhone()))
						return false;
					return true;
				case 'email':
					if ((config.required && !value) || (value && !value.isEmail()))
						return false;
					return true;
				case 'zip':
					if ((config.required && !value) || (value && !(/^\d{5}(?:[-\s]\d{4})?$/).test(value)))
						return false;
					return true;
				case 'string':
				case 'password':
					if (config.required && !value)
						return false;
					return true;
			}

			return config.required ? !!value : true;
		};

		instance.default = function() {
			switch (config.type) {
				case 'number':
					return config.default ? config.default.parseFloat() : null;
				case 'datetime':
				case 'date':
					return config.default ? (config.default.toLowerCase() === 'now' ? NOW : NOW.add(config.default)) : null;
				case 'email':
					return config.default || '@';
				case 'phone':
					return config.default || '+421';
				case 'string':
				case 'zip':
					return config.default || '';
			}
			return null;
		};

		instance.on('reset', function() {
			instance.set('touched', false);
			instance.set('modified', false);
		});

		instance.on('set', function(type, value, kind) {

			if (kind === 'nobind')
				return;

			if (type === 'value') {
				controls.val(formatter(value));
				checkplaceholder();
			}

		});

		instance.on('ready', function() {
			instance.check();
			var issafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

			if (issafari)
				element.aclass('issafari');
		});

	};
</script>