<style>
	.CLASS div { padding: 0; margin: 0; position: relative; display: inline-block; width: 100%; }
	.CLASS .text-right { text-align: right; }
	.CLASS .text-center { text-align: center; }
	.CLASS .h1 { font-size: 30px; font-weight: bold; }
	.CLASS .h2 { font-size: 26px; font-weight: bold; border-bottom: 1px solid rgba(0,0,0,0.15); padding: 0 0 8px; }
	.CLASS .h3 { font-size: 22px; font-weight: bold; }
	.CLASS .h4 { font-size: 16px; font-weight: bold; }
</style>

<script>

	// H1, H2, H3, H4, H5

	exports.id = 'headline';
	exports.group = 'Content';
	exports.name = 'Headline';
	exports.icon = 'ti ti-heading';
	exports.author = 'Total.js';
	exports.config = { html: 'Enter text for headline', align: 'left', type: 'h1', color: '' };
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.version = '1';

	exports.make = function(instance, config, element) {

		var template = instance.maketemplate('<div class="text-{{ align }} {{ type }} text"{{ if color }} style="color:{{ color }}"{{ fi }}>{{ html | raw }}</div>');

		var render = function() {
			element.html(template(config));
		};

		element.on('click', '.ti', function(e) {
			UIBuilder.emit(e.ctrlKey || e.metaKey ? 'attr' : 'icon', this);
		});

		element.on('dblclick', '.text', function(e) {
			e.stopPropagation();
			e.preventDefault();
			instance.edit($(this), {});
		});

		element.on('click', 'a', function(e) {
			e.preventDefault();
			UIBuilder.emit('link', this);
		});

		instance.on('html', function(meta) {
			config.html = element.find('.text').html();
		});

		instance.on('configure', render);
		render();

	};

</script>

<readme>
This component creates headline. You can set type and style in settings.
</readme>