<style>
	.CLASS div { padding: 0; margin: 0; position: relative; display: inline-block; width: 100%; }
	.CLASS_h1 { font-size: 30px; font-weight: bold; }
	.CLASS_h2 { font-size: 26px; font-weight: bold; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px; }
	.CLASS_h3 { font-size: 22px; font-weight: bold; }
	.CLASS_h4 { font-size: 16px; font-weight: bold; }
	.CLASS_right { text-align: right; }
	.CLASS_center { text-align: center; }
	.CLASS_justify { text-align: justify; }
</style>

<script>

	exports.id = 'headline';
	exports.group = 'Content';
	exports.name = 'Headline';
	exports.icon = 'ti ti-heading';
	exports.author = 'Total.js';
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {

		var template = instance.maketemplate('<div class="{0}_{{ align }} {0}_{{ type }}"{{ if color }} style="color:{{ color }}"{{ fi }}>{{ html | raw }}</div>'.format(cls));

		element.html(template(config));

		var datatemplate = config.html.indexOf('{{') === -1 ? null : instance.maketemplate(config.html);
		var el = $(element[0].children[0]);

		if (datatemplate) {
			var model = {};
			model.value = null;
			el.html(datatemplate(model));
			instance.on('value', function(value) {
				model.value = value;
				el.html(datatemplate(model));
			});
		} else
			element.html(template(config));

	};

</script>
