<script>

	exports.id = 'externalimage';
	exports.group = 'Content';
	exports.name = 'External image';
	exports.icon = 'ti ti-image';
	exports.author = 'Total.js';
	exports.config = { src: 'https://cdn.totaljs.com/logo.png', rounded: true, width: '', height: '', link: false, url: '', newtab: true };
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.version = '1';

	exports.make = function(instance, config, element) {
		var template = instance.maketemplate(instance.component.html);
		instance.on('configure', () => element.html(template(config)));
		instance.emit('configure');
	};

</script>

<readme>
This component renders external image from.
</readme>

<body>
{{ if link }}<a href="{{ url }}"{{ if newtab }} target="_blank"{{ fi }}>{{ fi }}<img src="{{ src }}" alt=""{{ if width }} width="{{ width }}"{{ fi }}{{ if height }} height="{{ height }}"{{ fi }} class="img-responsive{{ if rounded }} img-rounded{{ fi }}" />{{ if link }}</a>{{ fi }}
</body>