<script>

	exports.id = 'fileuploader';
	exports.name = 'File uploader';
	exports.group = 'Files';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-upload';
	exports.config = { value: '', type: 'all', url: '' };
	exports.inputs = [{ id: 'upload', name: 'Upload files' }];
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.follow = true;
	exports.version = '1';

	exports.make = function(instance, config, element) {

		element.aclass('UI_special m').html('<i class="{0}"></i><label>{name}</label><div>{url}</div>'.format(instance.component.icon).args(config, 'escape'));

		instance.on('configure', function() {
			element.find('label').text(config.name);
			element.find('div').text(config.url);
		});
	};

</script>

<readme>
The component allows users to upload files to a specific endpoint. A response will be binded to the path set in the configuration.
</readme>