<script>
	exports.id = 'fileuploader';
	exports.inputs = [{ id: 'upload', name: 'Upload files' }];

	exports.make = function(instance, config, element) {

		instance.state.bind = true;

		var input = null;
		var id = 'fileupload' + instance.id;

		element.aclass('hidden');
		element.append('<input type="file"{1}{2} />'.format(id, config.type !== 'all' ? ' accept="{0}/*"'.format(config.type) : '', config.multiple ? ' multiple="multiple"' : ''));

		input = element.find('input');

		input.on('change', function(e) {
			instance.upload(e.target.files, this);
		});

		instance.input('upload', function(files) {
			input.click();
		});

		instance.upload = function(files, el) {

			var data = new FormData();

			for (var i = 0; i < files.length; i++) {

				var filename = files[i].name;
				var index = filename.lastIndexOf('/');

				if (index === -1)
					index = filename.lastIndexOf('\\');

				if (index !== -1)
					filename = filename.substring(index + 1);

				data.append('file' + i, files[i], filename);
			}

			UPLOAD(instance.urlify(config.url), data, function(response) {

				var val;

				if (config.multiple)
					val = response instanceof Array ? response : [response];
				else
					val = response instanceof Array ? response[0] : response;

				if (val)
					instance.set('value', val);

				if (el)
					el.value = '';
			});
		};
	};
</script>