<style>
	.CLASS_button { border: 0; background: var(--color); color: #FFF; padding: 10px 5px; width: 100%; font-size: 15px; font-weight: bold; border-radius: var(--radius); }
	.CLASS_button:disabled { background-color: #F0F0F0; color: #A0A0A0; cursor: not-allowed; }
	.CLASS_button i { margin-left: 5px; }
</style>

<script>

	exports.id = 'form';
	exports.inputs = [{ id: 'load', name: 'Load data' }, { id: 'partial', name: 'Load partial data' }, { id: 'reset', name: 'Reset' }, { id: 'clear', name: 'Clear' }];
	exports.outputs = [{ id: 'submit', name: 'Submit' }];
	exports.scope = true;
	exports.make = function(instance, config, element, cls) {

		var children = null;
		var timeout = null;
		var button = null;
		var delay = 800;
		var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
		var skip = false;

		config.border && element.aclass('UI_border');
		element.append('<div class="UI_components m" data-index="0"></div>{0}'.format((config.button ? '<button name="submit" class="{1}_button" disabled>{2}{0}</button>'.format(config.button, cls, icon) : '')));

		var clear = function() {
			skip = true;
			button && button.prop('disabled', true);
			for (var m of children) {
				if (m.default) {
					m.set('value', m.default(), 'noemitstate');
					m.reset();
				}
			}
			setTimeout(refresh, delay);
		};

		if (config.button) {
			button = element.find('> button');
			button.on('click', function() {
				var name = this.name;
				switch (name) {
					case 'submit':
						instance.output(name);
						break;
				}
			});
		}

		var collectdata = function() {
			var model = {};
			skip = true;
			for (var m of children) {
				if (m.state.bind && m.config.path && m.config.path.charAt(0) !== '@')
					instance.write(model, m.config.path, m.state.value);
				m.reset();
			}
			return model;
		};

		instance.on('ready', function() {
			children = instance.family();
			config.default && clear();
		});

		instance.input('load', function(data) {
			for (var m of children) {
				if ((m.state.bind || config.bindtoall) && m.config.path && m.config.path.charAt(0) !== '@') {
					var val = instance.read(data, m.config.path);
					m.set('value', val, 'noemitstate');
					m.reset();
				}
			}
			instance.set('value', data);
		});

		instance.input('partial', function(data) {
			var value = instance.state.value;
			for (var m of children) {
				if ((m.state.bind || config.bindtoall) && m.config.path && m.config.path.charAt(0) !== '@') {
					var val = instance.read(data, m.config.path);
					if (val != undefined) {
						m.set('value', val, 'noemitstate');
						m.reset();
					}
				}
			}

			for (var key in data)
				value[key] = data[key];
			
			instance.set('value', value);
		});

		instance.input('submit', function() {
			instance.output('submit');
		});

		instance.output('submit', function(fn) {
			if (!instance.state.invalid && instance.state.modified) {
				button && button.prop('disabled', true);
				var val = collectdata();
				console.log(config.input, val);
				config.input && instance.app.input(config.input, val);
				fn(null, val);
				setTimeout(refresh, delay);
			}
		});

		var reset = function() {
			skip = true;
			button && button.prop('disabled', true);
			for (var m of children)
				m.reset();
			setTimeout(refresh, delay);
		};

		instance.on('reset', reset);
		instance.input('reset', reset);
		instance.input('clear', clear);

		var refresh = function() {

			skip = false;
			timeout = null;

			var invalid = false;
			var modified = false;
			var model = {};

			for (var m of children) {

				if (config.checkvisible && m.hidden())
					continue;

				if (m.state.modified)
					modified = true;

				if (m.validate && !m.validate())
					invalid = true;

				if (m.state.bind && m.config.path && m.config.path.charAt(0) !== '@')
					instance.write(model, m.config.path, m.state.value);

			}

			button && button.prop('disabled', !modified || invalid);
			instance.set('invalid', invalid);
			instance.set('modified', modified);

			var tmp = instance.state.value || {};

			if (!tmp)
				tmp = {};
		
			for (var key in model)
				tmp[key] = model[key];

			instance.set('value', tmp);
		};

		instance.on('state', function(e) {

			e.stopPropagation();

			if (!children || skip)
				return;

			var target = e.instance;

			if (!target.config.path || target.config.path.charAt(0) === '@')
				return;

			/*
			var changes = e.changes;
			if (changes.value) {
				// Update all same paths
				for (var m of children) {
					if (m !== target && m.bindable(target.config.path))
						m.set('value', e.state.value, 'noemitstate');
				}
			}*/

			timeout && clearTimeout(timeout);
			timeout = setTimeout(refresh, 100);

		});

	};
</script>