<style>
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
	.CLASS_slider { height: 4px; width: 100%; position: relative; border-radius: 12px; display: inline-block; }
	.CLASS_rail { position: absolute; top: 50%; transform: translateY(-50%); height: inherit; display: block; opacity: 0.4; width: 100%; background-color: #e0e0e0; border-radius: inherit; }
	.CLASS_track { height: 6px; border: 1px solid #e0e0e0; width: 50%; opacity: 1; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background-color: #e0e0e0; border-radius: inherit; }
	.CLASS_thumb { width: 16px; height: 16px; border-radius: 50%; background-color: #e0e0e0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
</style>

<script>

	exports.id = 'slider';
	exports.group = 'Controls';
	exports.name = 'Slider';
	exports.icon = 'ti ti-sliders-h';
	exports.author = 'Total.js';
	exports.config = { required: false, value: 50 };
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.version = '1';
	exports.follow = true;

	exports.make = function(instance, config, element, cls) {

		var label = instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span class="editable">{{ name }}:</span></label>');
		var html = '<div class="{0}_slider"><div class="{0}_rail"></div><span class="{0}_track"></span><span class="{0}_thumb"></span></div>'.format(cls);

		instance.on('configure', function() {
			element.html(label(config) + html);
			element.tclass('UI_required', config.required);
		});

		instance.emit('configure');

	};

</script>

<readme>
Component allows to select a single value, but highlights with a range selection from the min value to the current handle value.
</readme>