<style>
	.CLASS label { font-size: 12px; margin-bottom: 2px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }

	.CLASS_slider { height: 4px; padding: 13px 0;  width: 100%; position: relative; border-radius: 12px; display: inline-block; }
	.CLASS_rail { position: absolute; top: 50%; transform: translateY(-50%); height: inherit; display: block; opacity: 0.4; width: 100%; background-color: var(--color); border-radius: inherit; }
	.CLASS_track { height: 6px; border: 1px solid var(--color); width: 50%; opacity: 1; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background-color: var(--color); border-radius: inherit; }
	.CLASS_thumb { transition: box-shadow .2s; cursor: grab; width: 16px; height: 16px; border-radius: 50%; background-color: var(--color); position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
	.CLASS_value { transition: transform .2s; position: absolute; left: 50%; top: -100%; transform: translate(-50%, -50%) scale(0); font-size: 12px; background-color: #333; color: #fff; text-align: center; padding: 2px 4px; border-radius: var(--radius); font-weight: bold; }
	.CLASS_thumb:hover .CLASS_value { transform: translate(-50%, -50%) scale(1); }
	.CLASS_thumb:hover { box-shadow: 0 0 0px 4px rgba(var(--rgb), 0.2); }
	.CLASS_moved .CLASS_value { transform: translate(-50%, -50%) scale(1); }
	.CLASS_moved .CLASS_thumb { box-shadow: 0 0 0px 6px rgba(var(--rgb), 0.3); }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
	.CLASS.UI_disabled * { cursor: not-allowed; }
	.CLASS.UI_disabled .CLASS_rail, .CLASS.UI_disabled .CLASS_track, .CLASS.UI_disabled .CLASS_thumb { background-color: #e0e0e0; border-color: #e0e0e0; }
</style>

<body>
	<div class="CLASS_slider">
		<div class="CLASS_rail"></div>
		<span class="CLASS_track"></span>
		<span class="CLASS_thumb">
			<span class="CLASS_value"></span>
		</span>
	</div>
</body>

<script>

	exports.id = 'slider';

	exports.make = function(instance, config, element, cls) {

		instance.state.bind = true;

		var cls2 = '.' + cls;
		var events = {};
		var thumb, track, rail, valuelabel;
		var percentage = null;
		var timeout = null;

		var template = instance.maketemplate();
		var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
		var label = '<label>{1}<span>{0}:</span></label>'.format(config.name, icon);

		element.html(label + template());
		thumb = element.find(cls2 + '_thumb');
		track = element.find(cls2 + '_track');
		rail = element.find(cls2 + '_rail');
		valuelabel = element.find(cls2 + '_value');

		thumb.css('left', (config.value || 50) + '%');
		track.css('width', (config.value || 50) + '%');
		valuelabel.text((config.value || 50) + '%');

		var update = function(x) {
			thumb.css('left', x);
			track.css('width', x);
			events.p = Math.ceil(((events.width - (events.width - track.width())) * 100) / events.width);
			valuelabel.text(events.p + '%');

			timeout && clearTimeout(timeout);
			timeout = setTimeout(function() {
				instance.set('value', events.p);
			},200);
		};

		events.mup = function() {
			$(W).off('mousemove', events.mmove).off('mouseup', events.mup);
			element.rclass(cls + '_moved');
			instance.set('touched', true);
			instance.set('modified', true);
		};

		events.mmove = function(e) {
			var x = events.offset + (e.pageX - events.x);

			if (x > events.width)
				x = events.width;
			else if (x < 0)
				x = 0;

			element.aclass(cls + '_moved');

			timeout && clearTimeout(timeout);
			timeout = setTimeout(function() {
				instance.set('value', events.p);
			},200);

			update(x);
		};

		events.mdown = function(e) {
			if (instance.state.disabled)
				return;

			e.preventDefault();
			var target = e.target;

			var offset = element.offset();
			events.offset = (thumb.css('left') || '').parseInt();
			events.x = e.pageX;
			events.w = thumb.width();
			events.width = rail.width();

			if (target === track[0] || target === rail[0]) {
				var x = ((e.pageX - offset.left) - (events.w / 2)) >> 0;
				update(x);
			} else
				$(W).on('mousemove', events.mmove).on('mouseup', events.mup);
		};

		element.on('mousedown', events.mdown);

		element.tclass('UI_required', config.required == true);

		instance.validate = function() {
			var value = instance.state.value;
			return config.required ? !!value : true;
		};

		instance.default = function() {
			return '';
		};

		instance.on('reset', function() {
			instance.set('touched', false);
			instance.set('modified', false);
		});

		instance.on('set', function(type, value, kind) {
			if (kind === 'nobind')
				return;

			switch (type) {
				case 'value':
					if (value <= 100) {
						thumb.css('left', value + '%');
						track.css('width', value + '%');
						valuelabel.text(value + '%');
					}
					break;
			}
		});

		instance.on('ready', function() {
			instance.check();
		});

	};
</script>