<style>
	.CLASS { margin: 5px; }
	.CLASS_barchart { height: 140px; }
</style>

<script>

	exports.id = 'barchart';
	exports.name = 'Bar chart';
	exports.group = 'Charts';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-chart-bar';
	exports.config = { datetype: 'full', datasource: '', unit: '', decimals: 0 };
	exports.settings = 'auto';
	exports.render = 'auto';
	exports.version = '1';
	exports.type = ['app', 'dashboard'];

	exports.make = function(instance, config, element, cls) {

		var placeholder = { name: instance.component.id, count: 8 };
		var html = '<div class="UI_label"><i class="{icon}"></i><span>{0}</span></div><div class="{2}_barchart">{1}</div>'.format(config.name.encode(), FUNC.placeholder(placeholder), cls).args(instance.component);

		element.html(html);

		instance.on('configure', function() {
			element.find('> .UI_label span').text(config.name);
		});
	};

</script>

<readme>
__Barchart data-source needs to contain__:

```js
[
	{
		name: 'name', // name of the serie
		data: [{ x: 'DATE', y: 'value' }, { x: 'DATE', y: 'value' }, ...], // series
		decimals: 2, // optional, number of decimal places
		unit: '°C' // optional
	}
]
```
</readme>