<style>
	.CLASS p { padding: 0; margin: 0; position: relative; display: inline-block; width: 100%; }
	.CLASS .text-right { text-align: right; }
	.CLASS .text-center { text-align: center; }
	.CLASS .text-justify { text-align: justify; }
</style>

<script>

	exports.id = 'paragraph';
	exports.group = 'Content';
	exports.name = 'Paragraph';
	exports.icon = 'ti ti-align-left';
	exports.author = 'Total.js';
	exports.config = { html: 'Enter text', align: 'left', color: '#777', size: '14' };
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.version = '1';

	exports.make = function(instance, config, element) {

		var render = function() {
			element.html('<p class="text-{align} text" style="font-size:{size}px;color:{color}">{html}</p>'.args(config));
		};

		element.on('click', '.ti', function(e) {
			UIBuilder.emit(e.ctrlKey || e.metaKey ? 'attr' : 'icon', this);
		});

		element.on('dblclick', '.text', function(e) {
			e.stopPropagation();
			e.preventDefault();
			instance.edit(this, { multiline: true });
		});

		element.on('click', 'a', function(e) {
			e.preventDefault();
			e.stopPropagation();
			UIBuilder.emit('link', this);
		});

		instance.on('configure', render);
		instance.on('html', function(meta) {
			config.html = element.find('.text').html();
		});

		render();

	};

</script>

<readme>
	This component creates a paragraph element with specific style you can set in settings.
</readme>