<script>

	exports.id = 'datasource';
	exports.name = 'Data source';
	exports.group = 'Data';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-database-alt';
	exports.inputs = [{ id: 'load', name: 'Load data', note: '' }];
	exports.version = '1';

	exports.make = function(instance, config, element) {

		instance.state.notify = true;

		var children;
		var timeout;

		element.append('<div class="UI_components m{0}" data-index="0"></div>'.format(config.border ? ' UI_border' : ''));

		var load = function(data) {
			data = instance.write(instance.state.value || {}, config.path, data);
			instance.set('value', data);
			for (var m of children) {
				if (m.bindable())
					m.set('value', instance.read(data, m.config.path));
			}
		};

		instance.on('ready', function() {
			children = instance.family();
			var url = config.url;
			if (url) {
				url = instance.urlify(url);
				AJAX((url.indexOf(' ') === -1 ? 'GET ' : '') + url, ERROR(load));
			}
		});

		instance.on('notify', function(value) {
			timeout && clearTimeout(timeout);
			timeout = setTimeout(load, 300, value);
		});

		instance.input('load', load);

	};
</script>