<style>
	.CLASS label { font-size: 12px; margin-bottom: 2px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }

	.CLASS_progressbar { display: flex; align-items: center; justify-content: flex-end; padding-top: 3px; }
	.CLASS_root { height: 4px;width: 100%; position: relative; border-radius: 12px; }
	.CLASS_rail { position: absolute; top: 50%; transform: translateY(-50%); height: inherit; display: block; opacity: 0.4; width: 100%; background-color: var(--color); border-radius: inherit; }
	.CLASS_bar { height: 6px; border: 1px solid var(--color); width: 50%; opacity: 1; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background-color: var(--color); border-radius: inherit; }
	.CLASS_value { margin-left: 7px; color: rgb(0 0 0 /60%); font-size: 12px; }
	.CLASS.UI_disabled * { cursor: not-allowed; }
	.CLASS.UI_disabled .CLASS_rail, .CLASS.UI_disabled .CLASS_bar { background-color: #e0e0e0; border-color: #e0e0e0; }
</style>

<body>
	<div class="CLASS_progressbar">
		<div class="CLASS_root">
			<div class="CLASS_rail"></div>
			<span class="CLASS_bar"></span>
		</div>
		<span class="CLASS_value hidden"></span>
	</div>
</body>

<script>

	exports.id = 'progressbar';

	exports.make = function(instance, config, element, cls) {

		instance.state.bind = true;

		var cls2 = '.' + cls;
		var events = {};
		var rail, bar, valuelabel;

		var template = instance.maketemplate();
		var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
		var label = '<label>{1}<span>{0}:</span></label>'.format(config.name, icon);

		element.html(label + template());

		rail = element.find(cls2 + '_rail');
		bar = element.find(cls2 + '_bar');
		valuelabel = element.find(cls2 + '_value');
		config.showvalue && valuelabel.rclass('hidden');

		bar.css('width', 50 + '%');
		valuelabel.text(50 + '%');

		instance.on('set', function(type, value, kind) {
			if (kind === 'nobind')
				return;

			switch (type) {
				case 'value':
					if (value <= 100) {
						bar.css('width', value + '%');
						valuelabel.text(value + '%');
					}
					break;
			}
		});
		
		instance.on('ready', function() {
			instance.check();
		});

	};
</script>