<style>
	.CLASS { overflow: hidden; }
</style>

<script>

	exports.id = 'donutchart';
	exports.import = ['https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.3/apexcharts.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.3/apexcharts.min.css'];

	exports.make = function(instance, config, element, cls) {

		var container = '<div class="{0}_donutchart_apex"></div>'.format(cls);
		var chart = null;
		var options = {};

		element.append(container);

		var options = {
			chart: {
				type: 'donut',
				toolbar: {
					show: false,
					tools: {
						zoom: false
					}
				}
			},
			legend: {
				show: true,
				position: 'bottom',
				fontSize: '11px',
				itemMargin: {
					vertical: 5
				}
			},
			noData: {
				text: 'No data'
			},
			dataLabels: {
				enabled: true,
				formatter: value => value.format(config.decimals || 0) + ' ' + config.unit
			}
		};

		var render = function(response) {
			var data = {};
			data.data = [];
			data.labels = [];

			for (var item of response) {
				data.labels.push(item.name);
				data.data.push(item.data ? item.data : item.value);
				data.unit = item.unit;
				data.decimals = item.decimals;
			}

			if (chart) {
				chart.updateSeries(data);
			} else {
				options.series = data.data;
				options.labels = data.labels;

				if (!config.unit && data.unit)
					config.unit = data.unit;

				if (!config.decimals && data.decimals)
					config.decimals = data.decimals;

				chart = new ApexCharts(element.find('.{0}_donutchart_apex'.format(cls))[0], options);
				chart.render();
			}
		};

		instance.on('ready', function() {
			instance.datasource(config.datasource, function(response) {
				setTimeout(render, 200, response);
			});
		});

	};
</script>