<style>
	.CLASS_linechart { overflow: hidden; }
</style>

<script>

	exports.id = 'linechart';
	exports.import = ['https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.3/apexcharts.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.3/apexcharts.min.css'];

	exports.make = function(instance, config, element, cls) {

		var container = '<div class="{0}_linechart"><div class="{0}_linechart_apex"></div></div>'.format(cls);
		var dateformat = '';
		var chart = null;
		var options = {};
		var timeout = null;

		element.append(container);

		switch (config.datetype) {
			case 'full':
				dateformat = '[date]';
				break;
			case 'years':
				dateformat = 'yyyy';
				break;
			case 'months':
				dateformat = 'MMM';
				break;
			case 'days':
				dateformat = 'ddd';
				break;
			case 'hours':
				dateformat = 'HH:mm';
				break;
		}

		var options = {
			chart: {
				type: 'line',
				toolbar: {
					show: false,
					tools: {
						zoom: false
					}
				}
			},
			plotOptions: {
				bar: {
					horizontal: true
				}
			},
			stroke: {
				curve: 'smooth' || config.stroke,
				width: 3
			},
			legend: {
				show: true,
				position: 'bottom',
				fontSize: '11px',
				itemMargin: {
					vertical: 5
				}
			},
			noData: {
				text: 'No data'
			},
			xaxis: {
				type: 'datetime',
				labels: {
					formatter: function(value, timestamp) {
						return new Date(timestamp).format(dateformat);
					},
					style: {
						fontSize: '11px'
					}
				}
			},
			yaxis: {
				max: max => (config.max ? config.max : max),
				min: min => (config.min ? config.min : min),
				labels: {
					formatter: value => value.format(config.decimals) + ' ' + config.unit
				}
			},
			dataLabels: {
				enabled: false
			}
		};

		var render = function(response) {

			for (var item of response) {
				if (item.value && item.value.length) {
					item.data = item.value;
					delete item.value;
				}
			}

			if (chart) {
				chart.updateSeries(response);
			} else {
				options.series = response;

				if (!config.unit && response.length)
					config.unit = response[0].unit;

				if (!config.decimals && response.length)
					config.decimals = response[0].decimals;

				chart = new ApexCharts(element.find('.{0}_linechart_apex'.format(cls))[0], options);
				chart.render();
			}
		};

		instance.on('value', function(response) {
			timeout && clearTimeout(timeout);
			timeout = setTimeout(render, 200, response);
		});

	};
</script>