<style>
	.CLASS_settings .datagrid-item { padding: 5px 10px; font-size: 12px; }
	.CLASS_settings .datagrid-item > div:first-child { float: right; }
	.CLASS_settings .datagrid-item button { width: 18px; height: 18px; border-radius: 100px; font-size: 11px; border: 0; background-color: transparent; cursor: pointer; outline: 0; text-align: center; padding: 0; margin: 0 0 0 5px; }
	.CLASS_settings .datagrid-item button i { margin: 0; }
	.CLASS_settings .datagrid-item button:hover { background-color: #F0F0F0; }
	.CLASS_settings .datagrid-border { border: 1px solid #E0E0E0; padding: 20px; }
	.CLASS_settings .datagrid-body { overflow: hidden; min-height: 80px; padding: 10px 15px; }
</style>

<script>

	exports.id = 'datagrid';
	exports.name = 'Datagrid';
	exports.group = 'List';
	exports.icon = 'ti ti-table-alt';
	exports.author = 'Total.js';
	exports.config = { datasource: '', border: true, icon: 'ti ti-totaljs', columns: [], margin: 0, height: '500', minheight: 300, numbering: true, checkbox: false, autoselect: false, dynamic: false };
	exports.render = '/components/datagrid/render.html';
	exports.settings = '/components/datagrid/settings.html';
	exports.version = '1';
	exports.inputs = [{ id: 'rows', name: 'Rows' }];
	exports.outputs = [{ id: 'row', name: 'On row' }, { id: 'button', name: 'On button' }];

	exports.make = function(instance, config, element) {
		element.html('<div class="UI_special"><i class="ti ti-table"></i><label>{name}</label><div>{0}</div></div>'.format(config.type).args(instance.name));

		instance.on('configure', function() {
			var builder = [];
			for (var m of config.columns)
				builder.push('<div><i class="ti ti-bull mr5"></i>{0} <span class="badge badge-silver badge-small monospace">{1}</span></div>'.format(m.name, m.type || 'string'));
			element.find('.UI_special > div').html(builder.join(''));
			element.find('label').text(config.name);
		});

		instance.emit('configure');
	};

</script>
