<div class="padding">

	<div class="m">
		<ui-component name="input" path="?.datasource" config="dirsource:#datasource;dirraw:1;innerlabel:1;placeholder:Choose data source">Data source</ui-component>
		<div class="help"><span class="exec link" data-exec="?/clear"><i class="ti ti-clean"></i>Clear source</span></div>
	</div>

	<div class="grid-3">
		<div class="m">
			<ui-component name="input" path="?.margin" config="type:number;minvalue:0" default="0">@(Top margin)</ui-component>
			<div class="help">Must be defined in pixels</div>
		</div>
		<div class="m">
			<ui-component name="input" path="?.height" config="dirsource:window|Window,parent|Parent,fluid|Fluid,auto|Auto;dircustom:1;align:1">@(Height)</ui-component>
		</div>
		<div class="m">
			<ui-bind path="?.height" config="enable:value==='fluid'||value==='auto'">
				<ui-component name="input" path="?.minheight" config="type:number;minvalue:50" default="300">@(Min. height)</ui-component>
				<div class="help">@(Must be defined in pixels)</div>
			</ui-bind>
		</div>
	</div>

	<hr class="nmt" />

	<ui-component name="input" path="?.border" config="type:checkbox">@(Enable border)</ui-component>
	<ui-component name="input" path="?.numbering" config="type:checkbox">@(Enable numbering)</ui-component>
	<!-- <ui-component name="input" path="?.checkbox" config="type:checkbox">@(Enable checkboxes)</ui-component> -->
	<ui-component name="input" path="?.autoselect" config="type:checkbox">@(Enable auto-select first row)</ui-component>

	<hr />

	<ui-component name="listform" path="?.columns" config="autofocus:1;footertop:1">

		<script type="text/html">
			<div class="datagrid-item">
				<div><button name="up"><i class="ti ti-arrow-up"></i></button><button name="down"><i class="ti ti-arrow-down"></i></button><button name="remove"><i class="ti ti-remove red"></i></button></div>
				<div>{{ name }} <em class="gray">{{ path }}{{ if type }} ({{ type }}){{ fi }}</em></div>
			</div>
		</script>

		<script type="text/html">
			<div class="padding">
				<div class="row">
					<div class="col-md-4 m">
						<ui-component name="input" path="?.path" config="required:1;placeholder:field" default="''">@(Path)</ui-component>
					</div>
					<div class="col-md-4 m">
						<ui-component name="input" path="?.name" config="required:1" default="''">@(Name)</ui-component>
					</div>
					<div class="col-md-4 m">
						<ui-component name="input" path="?.title" config="required:0" default="''">@(Tooltip)</ui-component>
					</div>
					<div class="col-md-4 m">
						<ui-component name="input" path="?.width" config="required:1;maxlength:10;type:number" default="150">@(Width)</ui-component>
					</div>
					<div class="col-md-4 m">
						<ui-component name="input" path="?.align" config="dirsource:0|Left,1|Center,2|Right;type:number" default="0">@(Align)</ui-component>
					</div>
					<div class="col-md-4 m">
						<ui-component name="input" path="?.format" config="placeholder:dd.MM.yyyy" default="''">@(Format)</ui-component>
					</div>
					<div class="col-md-4 m">
						<ui-component name="input" path="?.codelist" config="dirsource:%datagrid.cl;dirempty:Empty" default="''">@(Static code list)</ui-component>
					</div>
					<div class="col-md-4 m">
						<ui-component name="input" path="?.type" config="dirsource:string|String,date|Date,boolean|Boolean,number|Number,phone|Phone,email|Email" default="'string'">@(Type)</ui-component>
					</div>
				</div>
				<ui-component name="input" path="?.template" config="placeholder:{{ col_name }}" default="''">@(Custom template)</ui-component>
				<div class="help">Only for developers</div>
				<hr />
				<ui-component name="input" path="?.filter" config="type:checkbox" default="true">@(Disable filtering)</ui-component>
				<ui-component name="input" path="?.sort" config="type:checkbox" default="true">@(Disable sorting)</ui-component>
				<ui-component name="input" path="?.hidden" config="type:checkbox" default="false">@(Hide column)</ui-component>
				<ui-component name="input" path="?.colorize" config="type:checkbox" default="false">@(Colorize value)</ui-component>
				<br />
				<ui-component name="validate" path="?" class="toolbar">
					<button name="submit" class="b" disabled><i class="fa fa-floppy-o"></i>@(Save)</button>
					<button name="remove">@(Remove)</button>
					<button name="cancel">@(Cancel)</button>
				</ui-component>
			</div>
		</script>

		<script type="text/html">
			<div style="margin-bottom:15px"><button class="btn small" name="create" style="width:120px"><i class="ti ti-plus-circle green"></i>@(Add column)</button></div>
		</script>

	</ui-component>
</div>

<script>
	PLUGIN(function(exports) {
		exports.clear = function() {
			exports.nul('datasource');
		};
	});
</script>