<script>

	exports.id = 'sound';
	exports.name = 'Play sound';
	exports.group = 'Logical';
	exports.icon = 'ti ti-volume';
	exports.author = 'Total.js';
	exports.config = { border: true, type: 'Beep', volume: 20, condition: 'positive' };
	exports.render = '/components/sound/render.html';
	exports.settings = '/components/sound/settings.html';
	exports.version = '1';
	exports.gap = true;

	exports.make = function(instance, config, element) {
		element.html('<div class="UI_special"><i class="{icon}"></i><label>{name}</label><div>{0}</div></div>'.format(config.type).args(instance.component));
		instance.on('configure', function() {
			element.find('div').text(config.type);
		});
	};

</script>
