<script>

	exports.id = 'show';

	exports.make = function(instance, config, element) {

		instance.state.notify = true;

		var ishidden = true;

		element.aclass('hidden' + (config.border ? ' UI_border' : ''));
		element.html('<div class="UI_components" data-index="0"></div>');

		var value2 = null;
		var compare = null;

		switch (config.condition) {
			case 'number':
				value2 = (config.value || '').parseFloat();
				break;
			case 'string':
				value2 = config.value || '';
				break;
			case 'expression':
				compare = FN('value=>' + config.value);
				break;
		}

		var check = function(value) {

			var is;

			if (value2 !== null) {
				is = value === value2;
			} else if (compare) {
				try {
					is = compare(value);
				} catch (e) {
					instance.error(e);
					return;
				}
			} else
				is = !!value;

			if (config.type === 'hide')
				is = !is;

			is = !is;

			if (is !== ishidden) {
				element.tclass('hidden', is);
				ishidden = is;
			}

		};

		instance.on('notify', check);
		check();

	};

</script>