<style>
	.CLASS div { padding: 0; margin: 0; position: relative; display: inline-block; width: 100%; }
	.CLASS .com_callout { display: flex; align-items: center; border-radius: var(--radius); padding: 20px 15px; color: rgba(0,0,0,0.7); }
	.CLASS .com_callout > i { font-size: 30px; width: 40px; text-align: center; }
	.CLASS .com_callout .text { display: inline-block; margin-left: 10px; font-size: 15px; }
</style>

<script>

	exports.id = 'callout';
	exports.name = 'Callout';
	exports.group = 'Content';
	exports.icon = 'ti ti-info-circle';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.make = function(instance, config, element) {

		var template = instance.maketemplate('<div class="com_callout" style="background-color:{{ color }}"><i class="{{ icon }}"></i><div class="text">{{ html | raw }}</div></div>');

		element.html(template(config));

		var text = element.find('.text');
		var datatemplate = config.html.indexOf('{{') === -1 ? null : instance.maketemplate(config.html);

		if (datatemplate) {
			var model = {};
			model.value = null;
			text.html(datatemplate(model));
			instance.on('set', function(type, value, kind) {
				if (type === 'value') {
					model.value = value;
					text.html(datatemplate(model));
				}
			});
		}
	};

</script>
