<script>

	exports.id = 'datatransformer';
	exports.name = 'Data transformer';
	exports.group = 'Data';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-robot';
	exports.version = '1';

	exports.make = function(instance, config) {
		instance.state.notify = true;
		instance.on('ready', function() {

			var fn = config.value ? new Function('value', config.value) : null;

			instance.on('notify', function(value) {
				if (fn) {
					var val = fn(value);
					if (val != undefined)
						instance.set('value', val);
				}
			});

		});
	};
</script>