<style>
	.CLASS_panel { background-color: #fff; }
	.CLASS_panel > div { padding: 18px 20px; }
	.CLASS_panel > div:first-child { display: block; font-size: 16px; color: #000; font-weight: bold; border-bottom: 1px solid #e0e0e0;}
	.CLASS_panel .CLASS_icon { margin-right: 10px; }
	.CLASS_bglabel .CLASS_panel > div:first-child { background-color: #F8F8F8; }
	.CLASS_bgcontent .CLASS_panel > div:last-child { background-color: #F8F8F8; }
	.CLASS_border > .CLASS_panel { border: 1px solid #e0e0e0; }
	.CLASS_radius > .CLASS_panel { border-radius: var(--radius); }
	.CLASS_shadow > .CLASS_panel { box-shadow: 0 2px 10px rgb(0 0 0 / 10%); }
</style>

<script>

	exports.id = 'panel';
	exports.name = 'Panel';
	exports.group = 'Content';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-grid';
	exports.config = { radius: false, bgcontent: false, bglabel: false, border: true, shadow: false, html: 'Panel label', icon: 'ti ti-grid' };
	exports.settings = 'auto';
	exports.render = 'auto';
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {

		var cls2 = '.' + cls;
		var template = instance.maketemplate('<div class="{0}_panel"><div><span class="{0}_icon"><i class="{{ icon }}"></i></span><span class="{0}_label">{{ html | raw }}</span></div><div class="UI_components" data-index="0"></div></div>'.format(cls));

		var render = function() {
			element.html(template(config));
		};

		element.on('click', cls2 + '_icon,' +  cls2 + '_label .ti', function(e) {
			e.preventDefault();
			e.stopPropagation();
			UIBuilder.emit('icon', this);
		});

		element.on('click', cls2 + '_label a', function(e) {
			e.preventDefault();
			e.stopPropagation();
			UIBuilder.emit('link', this);
		});

		element.on('dblclick', cls2 + '_label', function(e) {
			e.stopPropagation();
			e.preventDefault();
			instance.edit(this, {});
		});

		instance.on('html', function() {
			config.icon = element.find(cls2 + '_icon i').attr('class');
			config.html = element.find(cls2 + '_label').html();
		});

		instance.on('configure', function() {
			element.tclass(cls + '_bgcontent', config.bgcontent);
			element.tclass(cls + '_bglabel', config.bglabel);
			element.tclass(cls + '_shadow', config.shadow);
			element.tclass(cls + '_border', config.border);
			element.tclass(cls + '_radius', config.radius);
		});

		var builder = [];
		config.bgcontent && builder.push(cls + '_bgcontent');
		config.bglabel && builder.push(cls + '_bglabel');
		config.border && builder.push(cls + '_border');
		config.radius && builder.push(cls + '_radius');
		config.shadow && builder.push(cls + '_shadow');
		builder.length && element.aclass(builder.join(' '));
		render();

	};

</script>

<readme>
The component is suitable to making a better design.
</readme>