<style>
	.CLASS_panel { background-color: #fff; }
	.CLASS_panel > div { padding: 18px 20px; }
	.CLASS_panel .CLASS_label { display: block; font-size: 16px; color: #000; font-weight: bold; border-bottom: 1px solid #e0e0e0; }
	.CLASS_panel .CLASS_label i { margin-right: 10px; }
	.CLASS_bglabel .CLASS_panel > div:first-child { background-color: #F8F8F8; }
	.CLASS_bgcontent .CLASS_panel > div:last-child { background-color: #F8F8F8; }
	.CLASS_border > .CLASS_panel { border: 1px solid #e0e0e0; }
	.CLASS_radius > .CLASS_panel { border-radius: var(--radius); }
	.CLASS_shadow > .CLASS_panel { box-shadow: 0 2px 10px rgb(0 0 0 / 10%); }
</style>

<script>

	exports.id = 'panel';

	exports.make = function(instance, config, element, cls) {
		var builder = [];
		config.bglabel && builder.push(cls + '_bglabel');
		config.bgcontent && builder.push(cls + '_bgcontent');
		config.border && builder.push(cls + '_border');
		config.radius && builder.push(cls + '_radius');
		config.shadow && builder.push(cls + '_shadow');
		builder.length && element.aclass(builder.join(' '));
		element.html('<div class="{0}_panel"><div class="{0}_label"><i class="{2}"></i>{1}</div><div class="UI_components" data-index="0"></div></div>'.format(cls, config.html, config.icon));
	};

</script>