<style>
	.CLASS_textarea { height: 34px; padding: 0 0 0 8px; border: 1px solid #D0D0D0; border-radius: var(--radius); background: #FFF; line-height: 32px; color: gray; font-size: 13px; }
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
</style>

<script>

	exports.id = 'textarea';
	exports.name = 'Textarea';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-font';
	exports.config = { required: false, height: 70 };
	exports.settings = 'auto';
	exports.render = 'auto';
	exports.version = '1';
	exports.follow = true;
	exports.gap = true;

	exports.make = function(instance, config, element, cls) {

		var template = instance.maketemplate('<div class="{0}_textarea"{{ if height }} style="height:{{ height }}px"{{ fi }}><span>{{ placeholder }}</span></div>{{ if help }}<div class="help">{{ help }}</div>{{ fi }}'.format(cls));

		instance.on('configure', function() {
			var label = instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span class="editable">{{ name }}:</span></label>')(config);
			element.html(label + template(config));
			element.tclass('UI_required', config.required == true);
		});

		instance.emit('configure');

	};

</script>

<readme>
The Multiline Textbox is used to edit or display multiple lines of text. You can allow resiging the height of an element.
</readme>