<style>
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }
	.CLASS .error { color: red; font-weight: bold; display: none; margin-top: 8px; font-size: 11px; line-height: 13px; }

	.CLASS_multiline { position: relative; padding: 6px 8px 0; border: 1px solid #d0d0d0; border-radius: var(--radius); background-color: #fff; }
	.CLASS_multiline textarea { resize: none; border: 0; outline: 0; background: transparent !important; width: 100%; margin: 0; padding: 0; line-height: 16px; }
	.CLASS_multiline textarea::-webkit-scrollbar { display: none; }
	.CLASS_placeholder { position: absolute; font-size: 12px; pointer-events: none; color: gray; margin: 0; width: 100%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
	.CLASS_resize textarea { resize: vertical !important; }

	/* STATES */
	.CLASS.UI_touched.UI_invalid .CLASS_multiline { border-color: red; }
	.CLASS.UI_touched.UI_invalid .error { display: block; }
	.CLASS.UI_touched.UI_invalid .help { display: none; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
</style>

<script>

	exports.id = 'textarea';
	exports.name = 'Textarea';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-font';
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {
		instance.state.bind = true;

		var cls2 = '.' + cls;
		var placeholder_tmpl = '<div class="{0}_placeholder">{1}</div>'.format(cls, config.placeholder);
		var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
		var help = config.help ? '<div class="help">{0}</div>'.format(config.help) : '';
		var error = config.error ? '<div class="error">{0}</div>'.format(config.error) : '';
		var html = instance.maketemplate('<div class="{0}_multiline">{1}<textarea {{ if height }}style="height:{{ height }}px"{{ fi }} {{ if maxlength }}maxlength="{{ maxlength }}"{{ fi }} class="{{ if monospace }}monospace{{ fi }} {{ if bold }}b{{ fi }}"></textarea></div>'.format(cls, placeholder_tmpl));
		var label = '<label>{1}<span>{0}:</span></label>'.format(config.name, icon);

		element.html(label + html(config) + help + error);

		element.tclass('UI_required', config.required == true);
		element.tclass(cls + '_resize', config.resize == true);

		var placeholder = element.find(cls2 + '_placeholder');
		var isplaceholder = false;

		var checkplaceholder = function() {
			var hide = !!instance.state.value;
			if (hide !== isplaceholder) {
				isplaceholder = hide;
				placeholder.tclass('hidden', hide);
			}
		};

		element.find('textarea').on('blur', function(e) {
			if (e.type === 'blur')
				instance.set('touched', true);
		});

		element.find('textarea').on('input', function(e) {
			var val = this.value;
			instance.set('value', val, 'nobind');
			instance.set('modified', true);
			checkplaceholder();
		});

		instance.validate = function() {
			var value = instance.state.value;
			return config.required ? !!value : true;
		};

		instance.default = function() {
			return config.default || '';
		};

		instance.on('reset', function() {
			instance.set('touched', false);
			instance.set('modified', false);
		});

		instance.on('set', function(type, value, kind) {
			if (kind === 'nobind')
				return;

			if (type === 'value') {
				element.find('textarea').val(value);
				checkplaceholder();
			}
		});

		instance.on('ready', function() {
			instance.check();
		})

	};
</script>
