<style>
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px; }
	.CLASS_rating i { color: #a0a0a0; }
</style>

<script>

	exports.id = 'rating';
	exports.name = 'Rating';
	exports.group = 'Content';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-star';
	exports.version = '1';
	exports.config = {  };
	exports.render = '/components/rating/render.html';
	exports.settings = '/components/rating/settings.html';
	exports.follow = true;
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {

		var icon = 'ti-star';

		var render = function() {
			var builder = [];
			builder.push('<div class="{0}_rating">'.format(cls));
			builder.push(instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span>{{ name }}:</span></label>')(config));

			for (var i = 0; i < 5; i++)
				builder.push('<i class="ti {0}"></i>'.format(icon));

			builder.push('</div>');
			element.html(builder.join(''));
		};

		instance.on('configure', function() {
			render();
		});

		render();

	};

</script>

<readme>
The component lets a user provide a star rating or view other people's ratings on a numeric scale for any service provided.
</readme>

