<style>
	.CLASS > .UI_components { min-height: 40px; }
</style>

<script>

	exports.id = 'enable';
	exports.name = 'Enable editing';
	exports.group = 'Logical';
	exports.icon = 'ti ti-config';
	exports.author = 'Total.js';
	exports.config = { border: true, type: 'enable', condition: 'positive', value: '' };
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.version = '1';

	exports.make = function(instance, config, element) {
		element.html('<div class="UI_label"><i class="{icon}"></i><span>{0}</span></div><div class="UI_components UI_border" data-index="0"></div>'.format(config.name.encode()).args(instance.component));
		instance.on('configure', function() {
			element.find('> .UI_label span').text(config.name);
		});
	};

</script>
<readme>
	This component enables editing of elements in it, under specified conditions, you can set in settings.
</readme>