<style>
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
</style>

<script>

	exports.id = 'togglegroup';
	exports.name = 'Toggle group';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-config';
	exports.config = { required: false, default: 1, background: true, shadow: false, radius: false, nolabel: false };
	exports.settings = '/components/togglegroup/settings.html';
	exports.render = '/components/togglegroup/render.html';
	exports.follow = true;
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {

		var options = { name: instance.component.id, count: 3 };
		var label = '';
		var html = FUNC.placeholder(options);

		instance.on('configure', function() {
			label = instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span class="editable">{{ name }}:</span></label>');
			element.html(label(config) + html);
			element.tclass('UI_required', config.required == true);
			config.nolabel && element.find('label').aclass('hidden');
		});

		instance.emit('configure');

	};

</script>

<readme>
__Toggle group__ data-source needs to contain:

```js
[
	{ id: 1, name: 'Ruby', icon: 'ti ti-totaljs' // optional },
	{ id: 2, name: 'PHP', },
	{ id: 3, name: 'Node' },
	{ id: 4, name: 'Python' }
]
```
</readme>
