<style>
	.CLASS_color { height: 38px; padding: 0 0 0 8px; border: 1px solid #D0D0D0; border-radius: var(--radius); background: #FFF; line-height: 36px; color: gray; font-size: 12px; }
	.CLASS_color .CLASS_ricon { float: right; border-left: 1px solid #D0D0D0; width: 34px; text-align: center; }
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
	.CLASS.UI_disabled .CLASS_color { color: #a0a0a0; }
	.CLASS.UI_disabled .CLASS_color { background-color: #f0f0f0; color: #b0b0b0; border-color: #e0e0e0; }
</style>

<script>

	exports.id = 'color';
	exports.name = 'Color';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-palette';
	exports.config = { required: false, type: 'string' };
	exports.settings = 'https://cdn.componentator.com/uibuilder/color/settings.html';
	exports.render = 'https://cdn.componentator.com/uibuilder/color/render.html';
	exports.follow = true;
	exports.version = '1';

	// Editor implementation
	exports.make = function(instance, config, element, cls) {

		var html = instance.maketemplate('<div class="{0}_color center"><div class="{0}_ricon"><i class="ti ti-palette"></i></div></div>{{ if help }}<div class="help">{{ help }}</div>{{ fi }}'.format(cls));

		instance.on('configure', function() {
			var label = instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span class="editable">{{ name }}:</span></label>');

			element.html(label(config) + html(config));
			element.tclass('UI_required', config.required == true);
			element.tclass('UI_disabled', config.disabled == true);

		});

		instance.emit('configure');

	};

</script>

<readme>
The component allows selecting a color from the offered list.
</readme>
