<style>
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px; }
	.CLASS { max-width: 235px; }
	.CLASS .ui_placeholder_calendar { background-color: #fff; }
	.CLASS_bg .ui_placeholder_calendar { background-color: #F8F8F8 !important; }
	.CLASS_border .ui_placeholder_calendar { border: 1px solid #e0e0e0; }
	.CLASS_radius .ui_placeholder_calendar { border-radius: var(--radius); }
	.CLASS_shadow .ui_placeholder_calendar { box-shadow: 0 2px 10px rgb(0 0 0 / 10%); }
</style>

<script>

	exports.id = 'calendar';
	exports.name = 'Calendar';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-calendar';
	exports.version = '1';
	exports.config = { bg: false, border: false, radius: false, shadow: false, firstday: DEF.firtdayofweek };
	exports.render = '/components/calendar/render.html';
	exports.settings = '/components/calendar/settings.html';
	exports.follow = true;
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {
		var options = { name: instance.component.id };
		var label = '';
		var html = FUNC.placeholder(options);

		instance.on('configure', function() {
			label = instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span class="editable">{{ name }}:</span></label>');
			element.html(label(config) + html);

			element.tclass(cls + '_bg', config.bg);
			element.tclass(cls + '_shadow', config.shadow);
			element.tclass(cls + '_border', config.border);
			element.tclass(cls + '_radius', config.radius);
		});

		instance.emit('configure');

	};

</script>

<readme>
The Calendar is a component which provides the multi-view representation to display and select a date. Also, provide options to navigate in different levels of views like month, year, decade.
</readme>

