<style>
	.CLASS .UI_components { min-height: 40px; }
</style>

<readme>
The scope component creates a scope for nested components.
</readme>

<script>

	exports.id = 'scope';
	exports.name = 'Scope';
	exports.group = 'Data';
	exports.version = '1';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-receipt';
	exports.config = { border: false, checkvisible: true, autoreset: true, default: false, bindtoall: true };
	exports.inputs = [{ id: 'load', name: 'Load' }, { id: 'partial', name: 'Load partial data' }, { id: 'reset', name: 'Reset' }, { id: 'clear', name: 'Clear' }];
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.follow = true;

	exports.make = function(instance, config, element) {

		element.append('<div class="UI_label"><i class="{icon}"></i><span>{0}</span></div><div class="UI_components UI_border m" data-index="0"></div>'.format(config.name.encode()).args(instance.component));

		instance.on('configure', function() {
			element.find('> .UI_label span').text(config.name);
		});

		instance.emit('configure');
	};

</script>

<readme>
The components creates a form scope.
</readme>