<script>

	exports.id = 'restreader';
	exports.name = 'REST Reader';
	exports.group = 'Data';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-globe';
	exports.inputs = [{ id: 'load', name: 'Load data' }];
	exports.version = '1';

	exports.make = function(instance, config, element) {

		var timeout;

		var load = function(value) {
			timeout = null;
			var url = config.url;
			if (url) {
				url = instance.replace(instance.urlify(url), value, 'url');
				AJAX((url.indexOf(' ') === -1 ? 'GET ' : '') + url, ERROR(function(response) {
					instance.set('value', config.read ? instance.read(response, config.read) : response);
				}));
			}
		};

		instance.input('load', function(value) {
			timeout && clearTimeout(timeout);
			timeout = setTimeout(load, config.timeout, value);
		});

	};
</script>