<style>
	.CLASS > div { line-height: 22px; height: 60px; }
	.CLASS > div:first-child { float: left; width: 4px; height: 60px; background-color: #E0E0E0; margin-right: var(--gap); }
	.CLASS_key { color: #888; padding-top: 9px; font-size: 12px; }
	.CLASS_value { font-weight: bold; font-size: 16px; }
</style>

<script>

	exports.id = 'infocard';
	exports.name = 'Info card';
	exports.group = 'Content';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-address-card';
	exports.config = { key: 'Enter key', value: 'Enter value' };
	exports.settings = 'auto';
	exports.render = 'auto';
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {

		var cls2 = '.' + cls;
		var html = instance.maketemplate('<div style="background-color:{{ color }}"></div><div><div class="CLASS_key hellip" data-name="key">{{ key }}</div><div class="CLASS_value hellip" data-name="value">{{ value }}</div></div>');

		var render = function() {
			element.html(html(config));
		};

		element.on('dblclick','' + cls2 + '_value, ' + cls2 + '_key', function(e) {
			e.stopPropagation();
			e.preventDefault();
			var opt = {};
			opt.link = false;
			opt.icon = false;
			instance.edit(this, opt);
		});

		instance.on('html', function() {
			config.key = element.find('div[data-name="key"]').html();
			config.value = element.find('div[data-name="value"]').html();
		});

		instance.on('configure', render);
		render();
	};

</script>

<readme>
	This component displays an information-type text. You can set your style in settings.
</readme>