<style>
	.CLASS > div { line-height: 26px; }
	.CLASS > div:first-child { float: left; width: 4px; height: 60px; margin-right: var(--gap); }
	.CLASS_key { color: #888; padding-top: 3px; font-size: 12px; }
	.CLASS_value { font-weight: bold; font-size: 22px; }
</style>

<body>
	<div style="background-color:{{ color | empty('#E0E0E0') }}"></div>
	<div class="CLASS_key hellip">{{ key | raw }}</div>
	<div class="CLASS_value hellip">{{ value | raw }}</div>
</body>

<script>

	exports.id = 'infocard';

	exports.make = function(instance, config, element, cls) {

		var html = instance.maketemplate()(config);
		var template = instance.maketemplate(html);

		var model = { value: null };

		if (config.path) {
			if (config.isnullable)
				element.html(template(model));
		} else
			element.html(template(model));

		instance.on('value', function(value) {
			if (value || config.isnullable) {
				model.value = value;
				element.html(template(model));
			}
		});

	};

</script>