<style>
	.CLASS label { font-size: 12px; margin-bottom: 3px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }
</style>

<body>
	<div class="CLASS_listbox listing">
		{{ foreach m in value }}
		<figure data-id="{{ if m.id }}{{ m.id }}{{ else }}{{ m.name }}{{ fi }}">
			<section>
				<div>{{ m.name }}</div>
				{{ if m.description }}
					<div class="help nmt">{{ m.description }}</div>
				{{ fi }}
			</section>
		</figure>
		{{ end }}
	</div>
</body>

<script>

	exports.id = 'listbox';
	exports.name = 'List box';
	exports.group = 'List';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-list-alt';
	exports.version = '1';
	exports.outputs = [{ id: 'click', name: 'Click' }];

	exports.make = function(instance, config, element, cls) {
		instance.state.bind = true;

		var cls2 = '.' + cls;
		var selectedid = null;

		var render = function(items) {
			var template = instance.maketemplate();
			var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
			var label = config.nolabel ? '' : '<label>{1}<span>{0}:</span></label>'.format(config.name, icon);

			element.html(label + template({ value: items }));

			config.background && element.find(cls2 + '_listbox').rclass2('listing').aclass('listing2');
		};

		element.on('click', 'figure', function() {
			selectedid = ATTRD(this);
			instance.output('click');
		});

		instance.output('click', function(next) {
			selectedid && next(null, selectedid);
		});

		instance.on('ready', function() {

			instance.datasource(config.datasource, function(response) {
				render(response);
			});

			instance.check();

		});

	};
</script>
