<style>
	.CLASS_toolbar { height: 26px; display: flex; align-items: center; justify-content: space-between; }
	.CLASS_toolbar label { font-size: 16px; font-weight: bold; display: inline-block; }
	.CLASS_toolbar button { outline: 0; background: #FFF; border: 1px solid #E0E0E0; border-left: 0; font-size: 11px; height: 26px; padding: 0 8px; color: #000; min-width: 80px; text-align: center; vertical-align: top; background-color: #FFF; line-height: 24px; float: left; text-align: center !important; }
	.CLASS_toolbar button i { margin-right: 5px; }
	.CLASS_toolbar button .ti-plus-circle, .CLASS_toolbar button .ti-check-circle { color: #68B25B; }
	.CLASS_toolbar button .ti-trash { color: #D63B32; }
	.CLASS_toolbar button:first-child { border-left: 1px solid #E0E0E0; border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
	.CLASS_toolbar button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
	.CLASS_toolbar button:hover { border-color: #D0D0D0; }
	.CLASS_toolbar button:active { background: #F0F0F0; color: #888; border-color: #DFDFDF; }
	.CLASS_toolbar button:disabled { color: silver; cursor: not-allowed; border-color: #E0E0E0 !important; background: #F8F8F8; }
	.CLASS_toolbar button:disabled i { color: silver !important; }
	.CLASS_border { height: 42px !important; border-bottom: 1px solid #e0e0e0; }
	.CLASS_padding { padding: 7px 15px !important; }
</style>

<body>
	<div class="CLASS_toolbar">
		<label>{{ name }}</label>
		<div>
			{{ foreach m in value }}
				<button data-input="{{ m.input }}">{{ if m.icon }}<i class="{{ m.icon }}"></i>{{ fi }}{{ m.name }}</button>
			{{ end }}
		</div>
	</div>
</body>

<script>

	exports.id = 'toolbar';

	exports.make = function(instance, config, element, cls) {

		var render = function() {
			var template = instance.maketemplate(instance.component.html);
			var output = template({ value: config.items, name: config.name.encode() });
			element.html(output);

			element.tclass(cls + '_border', config.border);
			element.tclass(cls + '_padding', config.padding);
		};

		element.on('click', 'button', function() {
			var el = $(this);
			var input = el.attrd('input');
			var val = !instance.state.value;
			instance.app.input(input, val);
		});

		instance.on('ready', function() {
			instance.check();
		});

		render();

	};

</script>