<style>
	.CLASS_container { min-height: 50px; background-color: #FFF; }
	.CLASS_container .UI_components { min-height: 50px; }
	.CLASS_bg > .CLASS_container { background-color: #F8F8F8; }
	.CLASS_padding > .CLASS_container { padding: var(--gap); }
	.CLASS_border > .CLASS_container { border: 1px solid #e0e0e0; }
	.CLASS_radius > .CLASS_container { border-radius: var(--radius); }
	.CLASS_shadow > .CLASS_container { box-shadow: 0 2px 10px rgb(0 0 0 / 10%); }
</style>

<script>

	exports.id = 'stylebox';
	exports.name = 'Style box';
	exports.group = 'Content';
	exports.icon = 'ti ti-pencil-paintbrush';
	exports.author = 'Total.js';
	exports.config = { background: true, padding: true, shadow: false, border: false, radius: false };
	exports.render = '/components/stylebox/render.html';
	exports.settings = '/components/stylebox/settings.html';
	exports.gap = true;
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {
		element.html('<div class="UI_label"><i class="{icon}"></i><span>{0}</span></div><div class="{1}_container grid-1"><div class="UI_components" data-index="0"></div></div>'.format(config.name.encode(), cls).args(instance.component));

		instance.on('configure', function() {
			element.find('> .UI_label span').text(config.name);
			element.tclass(cls + '_bg', config.background);
			element.tclass(cls + '_padding', config.padding);
			element.tclass(cls + '_shadow', config.shadow);
			element.tclass(cls + '_border', config.border);
			element.tclass(cls + '_radius', config.radius);
		});

		var builder = [];
		config.background && builder.push(cls + '_bg');
		config.padding && builder.push(cls + '_padding');
		config.border && builder.push(cls + '_border');
		config.radius && builder.push(cls + '_radius');
		config.shadow && builder.push(cls + '_shadow');
		builder.length && element.aclass(builder.join(' '));
	};

</script>

<readme>
	This component is a content component, that displays content you put into it in editor, and add to it the styles according to your setttings.
</readme>