<style>
	.CLASS_icon { height: 38px; padding: 0 0 0 8px; border: 1px solid #D0D0D0; border-radius: var(--radius); background: #FFF; line-height: 36px; color: gray; font-size: 12px; }
	.CLASS_icon .CLASS_ricon { float: right; border-left: 1px solid #D0D0D0; width: 34px; text-align: center;}
	.CLASS label { font-size: 12px; margin-bottom: 5px; display: block; }
	.CLASS label i { margin-right: 5px; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
</style>

<script>

	exports.id = 'icon';
	exports.name = 'Icon';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-icons';
	exports.config = { required: false };
	exports.settings = 'https://cdn.componentator.com/uibuilder/icon-v1/settings.html';
	exports.render = 'https://cdn.componentator.com/uibuilder/icon-v1/render.html';
	exports.follow = true;
	exports.version = '1';

	exports.make = function(instance, config, element, cls) {

		var html = instance.maketemplate('<div class="{0}_icon center"><div class="{0}_ricon"><i class="ti ti-icons"></i></div></div>{{ if help }}<div class="help">{{ help }}</div>{{ fi }}'.format(cls));

		instance.on('configure', function() {
			var label = instance.maketemplate('<label>{{ if icon }}<i class="{{ icon }}"></i>{{ fi }}<span class="editable">{{ name }}:</span></label>');
			element.html(label(config) + html(config));
			element.tclass('UI_required', config.required == true);
		});

		instance.emit('configure');

	};

</script>

<readme>
The component obtaining a list of Total.js icons and search field.
</readme>
