<style>
	.CLASS label { font-size: 12px; margin-bottom: 2px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }
	.CLASS_error { display: none; color: red; font-weight: bold; margin-top: 8px; font-size: 11px; line-height: 13px; }

	.CLASS_dropdown { position: relative; height: 38px; line-height: 36px; border: 1px solid #D0D0D0; border-radius: var(--radius); background: #FFF; cursor: pointer; }
	.CLASS_dropdown .CLASS_value { margin-right: 40px; border: 0; background: transparent; height: 36px; width: 100%; outline: 0; padding: 0 8px; }
	.CLASS_dropdown .CLASS_icon { float: right; border-left: 1px solid #e0e0e0; height: 36px; width: 34px; text-align: center; line-height: 36px; padding: 12px 0 0; }
	.CLASS_dropdown .CLASS_icon i { display: block; cursor: pointer; }

	.CLASS_placeholder { position: absolute; font-size: 12px; pointer-events: none; color: gray; margin: 0; width: 100%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding-left: 8px; }

	.CLASS.UI_touched.UI_invalid .CLASS_dropdown { border-color: red; }
	.CLASS.UI_touched.UI_invalid .CLASS_error { display: block; }
	.CLASS.UI_touched.UI_invalid .CLASS_help { display: none; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
</style>

<script>

	exports.id = 'dropdown';
	exports.name = 'Dropdown';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-angle-down';
	exports.version = '1';
	exports.config = { type: 'string', min: null, max: null, decimals: null, icon: '', help: '', error: '', placeholder: '' };

	exports.make = function(instance, config, element, cls) {

		instance.state.bind = true;

		var cls2 = '.' + cls;
		var html = '';
		var label = '';
		var placeholder = '';
		var placeholder_tmpl = '<div class="{0}_placeholder">{1}</div>'.format(cls, config.placeholder);
		var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
		var help = config.help ? '<div class="{0}_help help">{1}</div>'.format(cls, config.help) : '';
		var error = config.error ? '<div class="{0}_error">{1}</div>'.format(cls, config.error) : '';
		var label = '<label>{0}<span>{1}:</span></label>'.format(icon, config.name);
		var items;

		html = instance.maketemplate('<div class="{0}_dropdown">{1}<div class="{0}_icon"><i class="ti ti-angle-down"></i></div><div class="{0}_value{{ if bold }}b{{ fi }}{{ if monospace}}monospace{{ fi }}"></div>'.format(cls, placeholder_tmpl));

		element.html(label + html(config) + help + error);
		element.tclass('UI_required', config.required == true);

		var placeholder = element.find('.' + cls + '_placeholder');
		var isplaceholder = false;

		var checkplaceholder = function() {
			var hide = instance.state.value;
			if (hide !== isplaceholder) {
				isplaceholder = hide;
				placeholder.tclass('hidden', hide);
			}
		};

		var show = function(el) {
			var opt = {};
			opt.element = el;
			opt.items = items;
			opt.offsetY = 18;
			opt.callback = function(val) {
				instance.set('modified', true);
				instance.set('value', val.id);
				element.find(cls2 + '_value').text(val.name);
				checkplaceholder();
			};

			SETTER('directory/show', opt);
		};

		element.on('click', function() {
			instance.set('touched', true);
			var el = $(this);
			show(el);
		});

		instance.default = function() {
			return '';
		};

		instance.on('reset', function() {
			instance.set('touched', false);
			instance.set('modified', false);
		});

		instance.on('set', function(type, value, kind) {

			if (kind === 'nobind')
				return;

			if (type === 'value') {
				instance.set('value', value);
				element.find(cls2 + '_value').text(value);
				checkplaceholder();
			}

		});

		instance.on('ready', function() {

			instance.datasource(config.datasource, function(response) {
				items = response;
			});

			instance.check();
		});

	};
</script>