<script>

	exports.id = 'flowoutput';
	exports.name = 'Flow Output';
	exports.group = 'Flow';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-object-group';
	exports.config = { name: 'Output name', target: [], delay: 0, autorun: false };
	exports.render = 'auto';
	exports.settings = 'auto';
	exports.inputs = [{ id: 'payload', name: 'Payload' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];
	exports.version = '1';
	exports.gap = true;

	exports.make = function(instance, config, element) {
		element.html('<i class="ti ti-dot-circle"></i><b>Output</b>: <span>{name}</span>'.args(config, 'escape'));
		instance.on('configure', function() {
			element.find('span').text(config.name);
		});
	};

</script>

<style>
	.CLASS { background-color: #2E67C5; color: #FFF; font-size: 12px; padding: 5px; border-radius: var(--radius); }
	.CLASS i { margin-right: 5px; }
</style>

<readme>
The component will capture output from other outputs and send data to the Flow.
</readme>