<style>
	.CLASS > .button { border: 0; background: var(--color); color: #FFF; padding: 10px 5px; width: 100%; font-size: 15px; font-weight: bold; border-radius: var(--radius); }
	.CLASS > .button:disabled { background-color: #F0F0F0; color: #A0A0A0; cursor: not-allowed; }
</style>

<script>

	exports.id = 'partcontainer';
	exports.name = 'Part container';
	exports.group = 'Parts';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-window';
	exports.inputs = [{ id: 'load', name: 'Load' }, { id: 'reset', name: 'Reset', note: 'Reset' }, { id: 'clear', name: 'Clear', note: 'Clear' }];
	exports.outputs = [{ id: 'read', name: 'Read' }];
	exports.version = '1';

	exports.make = function(instance, config, element) {

		var children = null;
		var timeout;
		var current = {};
		var checksum;

		config.border && element.aclass('UI_border');
		element.append('<div class="UI_components m" data-index="0"></div>');

		var collectdata = function() {
			var model = {};
			for (var m of children) {
				if (m.state.bind && m.config.path && m.config.path.charAt(0) !== '@')
					instance.write(model, m.config.path, m.state.value);
			}
			return model;
		};

		var send = function() {
			timeout = null;
			instance.output('read');
		};

		instance.on('ready', function() {
			children = instance.family();
		});

		instance.input('load', function(data) {
			for (var m of children) {
				if (m.state.bind) {
					var val = instance.read(data, m.config.path);
					if (val == null && m.default)
						val = m.default();
					m.set('value', val, 'noemitstate');
					m.reset();
				}
			}
		});

		instance.input('reset', function() {
			for (var m of children)
				m.reset();
		});

		instance.input('clear', function() {
			for (var m of children) {
				if (m.default) {
					m.set('value', m.default(), 'noemitstate');
					m.reset();
				}
			}
		});

		instance.output('read', function(next) {

			current.value = collectdata();
			current.invalid = instance.state.invalid;
			current.modified = instance.state.modified;

			var tmp = HASH(current);
			if (tmp !== checksum) {
				checksum = tmp;
				next(null, current);
			}

		});

		instance.on('state', function(e) {

			e.stopPropagation();

			if (!children)
				return;

			var target = e.instance;
			if (!target.config.path || target.config.path.charAt(0) === '@')
				return;

			var changes = e.changes;
			if (changes.value) {

				// Update all same paths
				for (var m of children) {
					if (m !== target && m.bindable(target.config.path))
						m.set('value', e.state.value, 'noemitstate');
				}

			}

			var invalid = false;
			var modified = false;

			for (var m of children) {

				if (config.checkvisible && m.hidden())
					continue;

				if (m.state.modified)
					modified = true;

				if (m.validate && !m.validate())
					invalid = true;

			}

			instance.set('invalid', invalid);
			instance.set('modified', modified);

			timeout && clearTimeout(timeout);
			timeout = setTimeout(send, 300);
		});

	};
</script>