<style>
	.CLASS { background-color: #fff; }
</style>

<script>

	exports.id = 'richtext';
	exports.name = 'Rich text editor';
	exports.group = 'Controls';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-underline';
	exports.config = { apikey: 'testapikey' };
	exports.settings = 'auto';
	exports.render = 'auto';
	exports.version = '1';
	exports.follow = true;

	exports.make = function(instance, config, element, cls) {
		var options = { name: instance.component.id };
		var html = FUNC.placeholder(options);

		instance.on('configure', function() {
			element.html(html);
		});

		instance.emit('configure');

	};

</script>

<readme>
Usage: ripple="false"
	- Configure tis component by providing your API key, enabling plugins, and toggling autosave.
- **API Key**: You can enter your API key, which is required for using the editor.
- **Plugins**: You can select which TinyMCE plugins to enable for the editor.
- **Autosave**: You can toggle autosave functionality.
</readme>