<div class="padding">
	<ui-component name="input" path="?.apikey" config="required:1;placeholder:API" class="b">API Key</ui-component>
	<div class="help m b">Visit <a href="https://www.tiny.cloud/my-account/" target="_blank">https://www.tiny.cloud/my-account/</a> to find your API key OR Sign Up here: <a href="https://www.tiny.cloud/auth/signup/" target="_blank">https://www.tiny.cloud/auth/signup/</a></div>

	<ui-component name="input" path="?.plugins" config="type:multiline;placeholder:image,wordcount,...">Plugins</ui-component>
	<div class="help">Extend the editor by using TinyMCE plugins</div>

	<hr style="margin-top:10px" />
	<ui-component name="input" path="?.autosave" config="type:checkbox">Autosave</ui-component>
</div>