<style>
	.CLASS label { font-size: 12px; margin-bottom: 2px; display: block; outline: 0; }
	.CLASS label i { margin-right: 5px; }
	.CLASS_icon { position: relative; height: 38px; line-height: 36px; border: 1px solid #D0D0D0; border-radius: var(--radius); background: #FFF; }
	.CLASS_icon .CLASS_ricon { float: right; border-left: 1px solid #e0e0e0; height: 38px; width: 36px; text-align: center; line-height: 36px; padding: 12px 0 0; }
	.CLASS_icon .CLASS_ricon i { display: block; cursor: pointer; }

	/* STATES */
	.CLASS.UI_touched.UI_invalid .icon-control { border-color: red; }
	.CLASS.UI_touched.UI_invalid .error { display: block; }
	.CLASS.UI_touched.UI_invalid .help { display: none; }
	.CLASS.UI_required label { font-weight: bold; }
	.CLASS.UI_required label:before { content: '*'; color: red; margin-right: 5px; }
	.CLASS.UI_disabled * { cursor: not-allowed !important; }
	.CLASS.UI_disabled .CLASS_icon { color: #a0a0a0; }
	.CLASS.UI_disabled .CLASS_icon { background-color: #f0f0f0; color: #b0b0b0; border-color: #e0e0e0; }
</style>

<script>

	exports.id = 'icon';

	exports.make = function(instance, config, element, cls) {
		instance.state.bind = true;

		var cls2 = '.' + cls;
		var icon = config.icon ? '<i class="{0}"></i>'.format(config.icon) : '';
		var help = config.help ? '<div class="help">{0}</div>'.format(config.help) : '';
		var html = '<div class="{0}_icon"><div class="{0}_ricon"><i class="ti ti-icons"></i></div><div class="{0}_value center"><i class="ti ti-totaljs"></i></div></div>'.format(cls);
		var label = '<label>{1}<span>{0}:</span></label>'.format(config.name, icon);

		element.html(label + html + help);
		element.tclass('UI_required', config.required == true);

		element.find('' + cls2 + '_ricon, ' + cls2 + '_value').on('click', function(e) {
			if (config.disabled)
				return;

			var opt = {};
			opt.align = 'right';
			opt.element = element;
			opt.callback = function(val) {
				instance.set('value', val);
				instance.set('modified', true);
			};
			SETTER('icons/show', opt);
		});

		instance.validate = function() {
			var value = instance.state.value;
			return config.required ? !!value : true;
		};

		instance.default = function() {
			return '';
		};

		instance.on('reset', function() {
			instance.set('touched', false);
			instance.set('modified', false);
		});

		instance.on('set', function(type, value, kind) {
			if (kind === 'nobind')
				return;

			switch (type) {
				case 'value':
					element.find(cls2 + '_value i').rclass().aclass(value);
					break;
			}
		});

		instance.on('ready', function() {
			instance.check();
		});

	};
</script>